body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.help-block {
    color: red;
}

.wrapper {
    display: flex;
    height: 100vh;
    align-content: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;        
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.content {
    padding-left: 30px;
}

.content button {
    background-color: #7386D5;
}
.content .title a {
    color: #7386D5;
    text-decoration: underline;
}

.content .title a:hover {
    color: rgba(115, 135, 213, 0.781);
    text-decoration: underline;
}

.content table {
    text-align: center;
}

.cat-block {
    background-color: aliceblue;
    padding: 30px;
}

.sett {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.sett a {
    color: white;
}

.complete {
    background-color: rgb(81, 192, 81);
}

.pending {
    background-color: orange;
}

.edit {
    background-color: #7386D5;
}

.delete {
    background-color: rgb(230, 69, 69);
}

/*==================================================================
============== PRE LOADER ========================================*/

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
    z-index: 11000;
    position: fixed;
    display: block
}


#main-ld {
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 35px);
}
#loader {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-top-color: #40c4ff;
  border-right-color: #40c4ff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s ease-in-out infinite;
  transform: rotate(-200deg)
}
@keyframes rotate {
  0% { border-width: 10px; }
  25% { border-width: 3px; }
  50% { 
    transform: rotate(115deg); 
    border-width: 10px;
  }
  75% { border-width: 3px;}
  100% { border-width: 10px;}
}

/*================================================
            DASHBOARD                             
================================================*/
.service-card {
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.212);
    padding: 30px;
    margin: 30px;
    height: 150px;
    text-align: center;
}
#services .owl-carousel {
    z-index: -1;
}

#services .thumbnail {
    width: 107px;
    height: 100px;
    text-align: center;
    margin: 15px 0;
}

#services .thumbnail.fa {
    color: black;
}

#services .thumbnail.btn {
    border: 10px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    color: white;
    background-color: #4798FF;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.4s ease 0s;
}

#services .thumbnail.btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-color: #4798FF;
}

/*===============================================
============ SCROLL TO TOP ====================*/

.dmtop.show {
    bottom: 10px;
}

.dmtop {
    background-color: #40c4ff;
    z-index: 100;
    width: 50px;
    height: 50px;
    line-height: 47px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 10px;
    text-align: center;
    font-size: 28px;
    color: #ffffff !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
